<div class="barra">
  <ul class="">
    <li><a routerLinkActive="active" routerLink="/home">Home</a></li>
    <li><a routerLink="/info">Info</a></li>
  </ul>
</div>
<div class="container">
    <router-outlet></router-outlet>
</div>