.body{
    background-color: antiquewhite;
}

.barra{
    background-color: #041e42;
    height: 3vw;
    box-shadow: black 2px 2px 2px 2px;
}

a{
    color: rgb(231, 227, 227);
    border-radius: 2px;
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
}

a:hover{
    color: white;
    background-color: rgb(4, 0, 255);
}

li{
    display: inline-block;
    margin-left: 15px;
    margin-top: 10px;
}