
<div class="panel">
	<h1 class="panel-item">Averages</h1>

	<div class="panel-item promedio">
		<p>Promedio: {{promedio | number : '1.2-2'}}</p>
	</div>	
</div>

<div class="tablas">

	<div class="tabla por-jugador">
		<h2>Por jugador</h2>
		<table>
			<thead>
				<th>Hits</th>
				<th>AB</th>
				<th>AVG</th>
				<th>Nombre</th>
			</thead>
			<tbody>
				<tr *ngFor="let average of averages">
					<td>{{average.hits}}</td>
					<td>{{average.ab}}</td>
					<td>{{average.avg | number : '1.2-2'}}</td>
					<td>{{average.jugador.nombre}}</td>
				</tr>
			</tbody>
		</table>
	</div> 
	
	<div class="tabla por-nivel">
		<h2>Por Nivel</h2>
		<table>
			<thead>
				<th>Nivel</th>
				<th>Nombre</th>
			</thead>
			<tbody>
				<tr *ngFor="let nivel of niveles">
					<td>{{nivel.nivel}}</td>
					<td>{{nivel.average.jugador.nombre}}</td>
				</tr>
			</tbody>
		</table>
	</div> 
	
</div>
