table, th, td {
    border: 1px solid black;
}

h1, p{
    color: #0048ab;
}

h2{
    width: 50px;
}

.panel{
    margin: 10px;
}

.panel-item{
    display: inline;
}

.promedio{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

.tabla{
    display: inline-block;
    margin-right: 30px;
}

.tablas{
    margin-left: 35%;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}